<a href="https://colab.research.google.com/github/shinyehwan/python_basic/blob/main/9%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 함수(가변 인수 함수, 매개변수 활용)
# 재귀함수

# 가변 인수를 받는 함수

def personal_info(name, age, address):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)

personal_info("홍길동", 30, "용인시")

info = {'name': '홍길동', 'age': 30, 'address' : '용인시'}

personal_info(**info)
personal_info(*info)

이름:  홍길동
나이:  30
주소:  용인시
이름:  홍길동
나이:  30
주소:  용인시
이름:  name
나이:  age
주소:  address

In [8]:
def personal_info(**kwargs):
  for kw, arg in kwargs.items():
    print(kw, ': ',arg, sep='')

personal_info(name='홍길동')

personal_info(name='홍길동', age=30, address='용인시')

x={'name':'홍길동'}
personal_info(**x)

y={'name': '홍길동', 'age' : 30, 'address' : '용인시'}
personal_info(**y)

name: 홍길동
name: 홍길동
age: 30
address: 용인시
name: 홍길동
name: 홍길동
age: 30
address: 용인시

In [20]:
# 재귀함수

# def hello():
#   print("hello, world!")
#   hello()

# hello()


def hello(count):
  if count == 0:
    return
  print('Hello, world!', count)
  count-=1
  hello(count)

hello(5)

Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1