<a href="https://colab.research.google.com/github/shinyehwan/python_basic/blob/main/%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 입출력
# list(map(int, input().split()))
# input()으로 입력받은 문자열을 split()을 이용해 공백으로 나눈 리스트로 바꾼 뒤에, map을 이용하여
# 해당 리스트의 모든 원소에 int()함수를 적용한다.
# 최종적으로 그 결과를 list()로 다시 바꿈으로써 입력받은 문자열을 띄어쓰기로 구분하여
# 각각 숫자 자료형으로 저장하게 되는것이다.

# 데이터의 개수 입력
n = int(input())
# 각 데이터를 공백으로 구분하여입력
data = list(map(int, input().split()))

data.sort(reverse = True)
print(data)

3
1 2 45
[45, 2, 1]

In [6]:
# 공백을 기준으로 구분하여 적은 수의 데이터 입력
# n,m,k를 공백으로 구분하여 입력
n, m, k = map(int, input().split())

print(n,m,k)

3 4 12
3 4 12

In [11]:
import sys

# 문자열 입력 받기
data = sys.stdin.readline().rstrip()
print(data)

In [13]:
# 출력

answer = 7

print("정답은 "+ str(answer) + "입니다.")
print("정답은 ", str(answer), "입니다.")
print(f"정답은 {answer}입니다.")

정답은 7입니다.
정답은  7 입니다.
정답은 7입니다.