<a href="https://colab.research.google.com/github/shinyehwan/python_basic/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 10억의 지수 표현 방식
a = 1e9
print(a)


# 752.5
a = 75.25e1
print(a)

#3.954
a = 3954e-3
print(a)

#컴퓨터가 실수를 정확히 표현하지 못한다
a = 0.3 + 0.6
print(a)
if a == 0.9 :
  print(True)
else:
  print(False)

# round

a = 0.3 + 0.6
print(round(a, 4))

if round(a,4) == 0.9:
  print(True)
else:
  print(False)

1000000000.0
752.5
3.954
0.8999999999999999
False
0.9
True

In [ ]:
a=7
b=3

# 나누기
print(a/b)

# 나머지
print(a%b)

# 몫
print(a//b)

# 거듭제곱 연산자
print(a**b)

2.3333333333333335
1
2
343

In [ ]:
# 리스트 자료형
# 리스트 만들기

a = [1,2,3,4,5,6,7,8,9]
print(a)

print(a[4])

# 빈 리스트 선언 방법

a = list()
print(a)

a = []
print(a)

# 크기가 N이고, 모든 값이 0인 1차원 리스트 초기화
n = 10
a=[0] * 10
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[]
[]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 리스트 인덱싱과 슬라이싱
# 특정원소에 접근하는 것 -> 인덱싱

a = [1,2,3,4,5,6,7,8,9]
# 뒤에서 첫번째 원소 출력
print(a[-1])

# 뒤에서 세번재 원소 출력
print(a[-3])

# 네번째 원소 값 변경
a[3]=7
print(a)

# 리스트에서 연속적인 위치를 갖는 원소를 가져온다 -> 슬라이싱

# 두 번째 원소부터 네 번째 원소까지 -> 끝 인덱스의 경우 1을 뺀 값의 인덱스까지 처리
print(a[1:4])

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]
[2, 3, 7]

In [ ]:
# 리스트 컴프리헨션 -> 초기화
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트

array = [i for i in range(20) if i % 2 == 1]
print(array)

# array=[]
# for i in range(20):
#   if i % 2 == 1:
#     array.append(i)
# print(array)

# 1부터 9까지의 수의 제곱 값을 포함하는 리스트
array = [i*i for i in range(1,10)]
print(array)


# N X M 크기의 2차원 리스트 초기화
n=3
m=4
array = [[0]*m for _ in range(n)]
print(array)

# N X M 크기의 2차원 리스트 초기화(잘못된 방법)
n=3
m=4
array = [[0]*m]*n
print(array)

array[1][1]=5
print(array) # 내부적으로 포함된 3개의 리스트가 모두 동일한 객체에 대한 3개의 레퍼런스로 인식되기 때문이다

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

In [ ]:
# 리스트 관련 기타 메서드

a = [1,4,3]
print("기본 리스트 : ", a)

# 리스트에 원소 삽입
a.append(2)
print("삽입 : ", a)

# 오름차순 정렬
a.sort()
print("오름차순 : ", a)

# 내림차순 정렬
a.sort(reverse = True)
print("내림차순 : ", a)

# 리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기 : ", a)

# 특정 인덱스에 데이터 추가
a.insert(2,3)
print("인덱스 2에 3 추가 : ", a)

# 특정 값인 데이터 개수 세기
print("값이 3인 데이터 개수 : ", a.count(3))

# 특정 값 데이터 삭제
a.remove(1)
print("값이 1인 데이터 삭제 : ", a)

# remove
a = [1,2,3,4,5,5,5]
remove_set = {3,5}
# remove_set에 포함되지 않은 값만을 저장
result = [i for i in a if i not in remove_set]
print(result)

기본 리스트 :  [1, 4, 3]
삽입 :  [1, 4, 3, 2]
오름차순 :  [1, 2, 3, 4]
내림차순 :  [4, 3, 2, 1]
원소 뒤집기 :  [1, 2, 3, 4]
인덱스 2에 3 추가 :  [1, 2, 3, 3, 4]
값이 3인 데이터 개수 :  2
값이 1인 데이터 삭제 :  [2, 3, 3, 4]
[1, 2, 4]